Makefile
Makefile.in
core
.dirstamp
.deps
.libs
*.o
*.lo
*.la
*_test
*~
/build
/install-sh
/libtool
/ltmain.sh
/missing
/test-driver
/config.guess
/autom4te.cache
/aclocal.m4
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/stamp-h1
/compile
m4/libtool.m4
m4/lt*.m4

/libthrong.pc
doc/Doxyfile
doc/html
doc/latex
doc/doxygen_*.db
*.rpm
*.spec
*.tar.gz
